<template>
	<span>
		<svg width="22" height="12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 0l6 6-6 6V7.2H0V4.8h16V0z" fill="currentColor"/></svg>
	</span>
</template>

<script>
export default {
name: "ArrowRight"
}
</script>

<style scoped>

</style>
