<template>
	<span>
		<svg width="22" height="10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6 0L0 5l6 5V6h16V4H6V0z" fill="currentColor"/></svg>
	</span>
</template>

<script>
export default {
	name: "ArrowLeftIcon"
}
</script>

<style scoped>

</style>
