<template>
<span>
	<svg width="8" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M.251 1.89L2.08.063l5.844 5.843L2.08 11.75.25 9.92l4.015-4.014L.25 1.891z" fill="currentColor"/></svg>
</span>
</template>

<script>
export default {
name: "CaretRight"
}
</script>

<style scoped>

</style>
