<template>
<span>
	<svg width="12" height="8" fill="none" xmlns="http://www.w3.org/2000/svg"><path
		d="M10.11.251l1.828 1.829-5.843 5.844L.25 2.08 2.08.25l4.014 4.015L10.109.25z" fill="#1B1B1B"/></svg>
</span>
</template>

<script>
export default {
	name: "CaretDown"
}
</script>

<style scoped>

</style>
