<template>
<span>
	<svg width="14" height="14" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor"
																					 d="M2.05.636L13.364 11.95l-1.414 1.414L.636 2.05z"/><path
		fill="#fff" d="M11.95.636L.636 11.95l1.414 1.414L13.364 2.05z"/></svg>
</span>
</template>

<script>
export default {
	name: "CloseIcon"
}
</script>

<style scoped>

</style>
