<template>
	<div   class="cta-button right-0" :class="{'w-full': pageState == 1 , 'loading':  pageState == 2, 'active': pageState == 3 }">
		<button @click.prevent="handlePlayNow" :class="{'loading': pageState == 2 }" class="font-medium h-full focus:outline-none flex-1 tracking-wide text-left">{{ buttonText }}</button>

		<span  class="flex-0 inline-block px-8 text-left text-sm text-left">
			<no-ssr v-if="pageState != 1" placeholder="loading...">
				<countdown-timer @end="updatePageState" :emit-events="true" :time="(1000 * 10)">
					<template slot-scope="props">{{ props.minutes }}:{{ props.seconds }}</template>
				</countdown-timer>
			</no-ssr>
			<span v-if="pageState == 1" class="flex-0 text-left text-sm text-left">4,021 in Queue</span>
		</span>
		<span class="flex-0 text-white">
			<button class="" v-if="pageState == 2" @click.prevent="cancelSearch">
				<close-icon />
			</button>
			<button v-else @click.prevent="handlePlayNow">
				<arrow-right/>
			</button>

		</span>
	</div>
</template>

<script>
import CloseIcon from "@/components/icons/CloseIcon";
import CountdownTimer from "@/components/CountdownTimer.js";
import ArrowRight from "@/components/icons/ArrowRight";
export default {
	name: "CtaButton",
	components: {ArrowRight, CloseIcon, CountdownTimer },
	computed: {
		pageState() {
			return this.$store.state.pageState.number;
		},
		buttonText() {
			switch (this.pageState) {
				case 1:
					return 'Play Now'
				case 2:
					return 'Searching'
				case 3:
					return 'Accept'
			}
		}
 	},
	methods: {
		updatePageState() {
			return this.$store.commit('pageState/setNumber', 3);
		},
		cancelSearch() {
			this.$router.push({
				path: '/'
			})
			return this.$store.commit('pageState/setNumber', 1);
		},
		handlePlayNow() {
			this.$router.push({
				path: '/search'
			});
		}
	}
}
</script>

<style scoped>
.cta-button {
	@apply fixed text-white  items-center px-4 h-24 bottom-0 flex bg-brand-primary;
	transition: width 300ms ease-in-out 150ms, bottom 300ms cubic-bezier(0.64, 0.01, 0.58, 1),  background-color 300ms ease-in-out;;
	bottom: 0;
}

.cta-button.loading {
	@apply w-11/12 bg-gray-900;
	bottom: 40px;
	transition: width 300ms ease-in-out, bottom 300ms cubic-bezier(0.64, 0.01, 0.58, 1) 150ms, background-color 300ms ease-in-out;
}

.cta-button.active {
	@apply w-11/12 bg-brand-primary;
	bottom: 40px;
	transition: width 300ms ease-in-out, bottom 300ms cubic-bezier(0.64, 0.01, 0.58, 1) 150ms, background-color 300ms ease-in-out;
}
.cta-button span.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;
	}
}
</style>
