<template>
<span>
		<svg width="73" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M13.043 6.477v6.631h-2.57l-.156-1.186a4.562 4.562 0 01-3.665 1.474 6.41 6.41 0 01-2.235-.383 5.785 5.785 0 01-1.877-1.128 5.155 5.155 0 01-1.31-1.93 7.297 7.297 0 01-.485-2.727 6.48 6.48 0 011.728-4.7A6.144 6.144 0 017.121.736a6.298 6.298 0 013.844 1.157 4.926 4.926 0 011.93 3.308H9.102a1.941 1.941 0 00-2.049-1.518 1.912 1.912 0 00-1.735.943 4.937 4.937 0 00-.581 2.587c0 2.176.851 3.264 2.555 3.264a2.342 2.342 0 001.266-.398c.37-.223.637-.58.745-.995H7.576V6.477h5.467zM18.205 13.101h-3.992V1.054h9.475v2.814h-5.483V6.08h4.365v2.763h-4.365v4.26zM28.59 13.101h-4.008V1.054h3.992L28.59 13.1zM33.58 1.054l4.35 6.58-.156-2.749V1.054h3.821V13.1h-3.724l-4.35-6.558.148 2.741v3.817h-3.828V1.054h3.739zM46.876 13.101h-3.992V1.054h3.992V13.1zM47.77 4.215V1.054h11.174v3.16h-3.598v8.887h-3.993V4.215H47.77zM68.173 1.054l-.678 1.319-1.422 2.763-2.094-4.082h-4.47l4.53 7.663V13.1h3.992v-4.45l4.537-7.597h-4.395z"
				fill="#fff"/>
		</svg>
	</span>
</template>

<script>
export default {
	name: "GfinityLogoNeg"
}
</script>

<style scoped>

</style>
