<template>
	<div>
		<div>
			<div :class="{'bg-image': player != null }" class="overflow-hidden bg-transparent border border-gray-500 w-32 rounded h-44">

			</div>
			<div class="py-4">
				<p class=" text-gray-700 text-sm">
					<span v-if="player">{{ player.role }}</span>
					<span v-else>Team Player /</span>
				</p>
				<p v-if="player" class="font-bold flex items-center">
					<span class="inline">{{ player.name }}</span>
				</p>
				<button v-else class="font-bold flex items-center">
					<span class="inline">Invite Player</span>
					<span class="inline ml-2">
										<caret-right/>
									</span>
				</button>
			</div>
			<div v-if="player">
				<span class="border border-black text-xs px-2 uppercase tracking-wide font-medium">READY</span>
			</div>
		</div>
	</div>
</template>

<script>
import CaretRight from "@/components/icons/CaretRight";
export default {
	name: "LobbyProfile",
	components: {CaretRight},
	props: {
		player: {
			default: null
		}
	}
}
</script>

<style scoped>
	.bg-image {
		background-image: url("~assets/images/gf-avatar-01.png");
		background-size: cover;
		background-position-x: -20px;
		background-repeat: no-repeat;
	}
</style>
