<template>
	<div class="font-body h-full bg-brand-gray">
		<div class="flex items-center justify-between">
			<div class="relative">
				<div class="h-24 relative z-50 w-24 flex justify-center items-center bg-black">
					<gfinity-logo-neg/>
				</div>
				<nuxt-link to="/" :class="{'active': pageState != 1}" class="h-24 block back-nav-btn absolute w-24 z-20 flex justify-center items-center text-white bg-black">
					<arrow-left-icon/>
				</nuxt-link>
			</div>

			<div>
				<span class="font-medium">FIFA 19</span>
				<button class="py-1 px-2 ml-2">
					<svg width="20" height="12" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill="#1B1B1B" d="M0 0h20v3H0zM0 9h20v3H0z"/>
					</svg>
				</button>
			</div>
		</div>
		<nuxt />
		<div>
			<cta-button/>
		</div>
	</div>
</template>
<script>
import GfinityLogoNeg from "@/components/GfinityLogoNeg";
import ArrowRight from "@/components/icons/ArrowRight";
import VueCountdown from '@chenfengyuan/vue-countdown';
import CtaButton from "@/components/CtaButton";
import ArrowLeftIcon from "@/components/icons/ArrowLeftIcon";

export default {
	components: {ArrowLeftIcon, CtaButton, ArrowRight, GfinityLogoNeg, VueCountdown },
	data() {
		return {
			searching: false
		}
	},
	computed: {
		pageState() {
			return this.$store.state.pageState.number;
		}
	},
	methods: {
		updatePageState() {
			return this.$store.commit('pageState/setNumber', 3);
		}
	}
}
</script>
<style>
	body {
		@apply bg-brand-gray;
	}

	.page-enter-active {
		transition: opacity 300ms ease-out;
	}

	.page-leave-active {
		transition: opacity 300ms ease-in;
	}

	.page-enter,
	.page-leave-active {
		opacity: 0;
	}
	.back-nav-btn {
		top: 0;
		transition: top 300ms ease-out;
	}
	.back-nav-btn.active {
		top: 96%;
		transition: top 300ms ease-out;
	}
	.back-nav-btn span {
		display: none;
	}
	.back-nav-btn.active span {
		display: inline-block;
	}
</style>
