<template>
	<div>
		<div>
			<div class="px-4">
				<div class="border-b py-3">
					<button class="px-4 py-2">
						<arrow-left-icon/>
					</button>
					<h5 class="font-bold  text-base inline-block">Matchmaking Lobby</h5>
				</div>
			</div>
			<div class="px-4 py-6">
				<div class="flex items-center">
					<h2 class="font-medium  text-4xl inline-block">steveroesler’s lobby</h2>
					<span class="inline-block ml-2">
						<padlock-icon/>
					</span>
				</div>
				<div>
					<span class="inline-block tracking-wider rounded-l-none px-2 text-white text-xs rounded-full font-medium bg-black">FIFA 19</span>
				</div>
			</div>
			<div class="px-4 pb-4">
				<ul class="flex">
					<li v-for="(player, index) in playerProfiles" class="mr-4">
						<lobby-profile :player="player"  :key="index"/>
					</li>
					<li class="mr-4">
						<lobby-profile/>
					</li>
				</ul>
			</div>
			<div class="px-4 mb-24">
				<div class="flex border-t border-gray-500 border-b py-4">
					<div class="flex-1">
						<span class="font-medium">Type</span>
					</div>
					<div class="flex-1">
						<span class="capitalize">Competitive</span>
					</div>
					<div class="flex-0">
						<button>
							<span>
								<caret-down/>
							</span>
						</button>
					</div>
				</div>
				<div class="flex border-gray-500 border-b py-4">
					<div class="flex-1">
						<span class="font-medium">Gamemode</span>
					</div>
					<div class="flex-1">
						<span class="capitalize">Squad Battles</span>
					</div>
					<div class="flex-0">
						<button>
							<span>
								<caret-down/>
							</span>
						</button>
					</div>
				</div>
				<div class="flex border-gray-500 border-b py-4">
					<div class="flex-1">
						<span class="font-medium">Lobby Status</span>
					</div>
					<div class="flex-1">
						<span class="capitalize">Invite Only</span>
					</div>
					<div class="flex-0">
						<button>
							<span>
								<caret-down/>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>

	import GfinityLogoNeg from "~/components/GfinityLogoNeg";
	import NavButton from "~/components/NavButton";
	import ArrowLeftIcon from "@/components/icons/ArrowLeftIcon";
	import PadlockIcon from "@/components/icons/PadlockIcon";
	import LobbyProfile from "@/components/LobbyProfile";
	import CaretDown from "@/components/icons/CaretDown";
	import ArrowRight from "@/components/icons/ArrowRight";
	export default {
		components: {ArrowRight, CaretDown, LobbyProfile, PadlockIcon, ArrowLeftIcon, NavButton, GfinityLogoNeg },
		mounted() {
			this.$store.commit('pageState/setNumber', 1)
		},
		data() {
			return {
				playerProfiles: [
					{
						name: 'steveroesler',
						role: 'Team Leader',
						points: '74',
						status: 'ready',
						avatar: '../assets/images/gf-avatar-01.png'
					}
				]
			}
		}
	}

</script>
<style>


</style>
