<template>
	<div class="relative">
		<div class="h-screen w-full absolute bg-ronaldo"></div>
		<div :class="{'bg-black': pageState == 3, 'bg-brand-primary': pageState == 2 }" style="opacity: 0.9" class="  relative py-24 w-11/12">

			<div class="px-4 ">
				<div class=" py-3">
					<h5 class="font-bold text-white  text-base inline-block">Matchmaking Lobby</h5>
				</div>
				<div>
					<h2  v-if="pageState == 2" class="text-white font-bold text-5xl leading-tight">Searching for compatible opponents</h2>
					<h2  v-if="pageState == 3" class="text-white font-bold text-5xl leading-tight">A match has been found for you!</h2>
				</div>
				<div class="py-6">
					<p v-if="pageState == 2" class="text-base text-white">We’re searching our database of players to pair you with an opponent of similar skill</p>
					<p v-if="pageState == 3" class="text-base text-white">By tapping accept, you agree to play a match that may last for up to 30 minutes.</p>
				</div>
				<div class="flex py-4 items-center">
				<span class="text-sm text-white">
					Lobby
				</span>
					<div class="w-16 ml-4 h-16 flex justify-center items-center border-2 rounded-full p-1">
						<div class="w-12  bg-image h-12 rounded-full">
							<!--						<img src="" alt="">-->
						</div>
					</div>
				</div>
				<div class="flex py-4 items-center">
					<span class="h-1 w-4 bg-white"></span>
					<span class="inline-block ml-10 text-white text-sm">4,021 in Queue</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import ArrowLeftIcon from "@/components/icons/ArrowLeftIcon";
export default {
	name: "search",
	components: {ArrowLeftIcon},
	mounted() {
		this.$store.commit('pageState/setNumber', 2)
	},
	computed: {
		pageState() {
			return this.$store.state.pageState.number;
		}
	}
}
</script>

<style scoped>
.bg-image {
	background-image: url("~assets/images/gf-avatar-01.png");
	background-size: cover;
	background-repeat: no-repeat;
}
.bg-ronaldo {
	background-image: url("~assets/images/fifa19-ronaldo-fg-lg.png");
	background-size: cover;
	background-position-x: 70%;
	background-repeat: no-repeat;
	mix-blend-mode: multiply;
}
</style>
